<!-- ----------------------------------------------------------------------- -->
<!--                          UPLOAD Page Template                           -->
<!--                            Author: Yifu Yao                             -->
<!--                        Last Updated date: 6/14/2020                     -->
<!-- ----------------------------------------------------------------------- -->

<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/css/index.css">
    <div class="wrapper">

        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container col-12 col-lg-8">

                <a class="navbar-brand" href="/" data-step="1" data-intro="Uploading page">MULocDeep</a>
                <button class="navbar-toggler ml-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/jobs" data-step="2" data-intro="Job searching page"><i
                                    class="fas fa-search"></i> Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jobs/all" data-step="3"
                                data-intro="Status of all jobs you submitted"><i class="fas fa-list"></i> Status </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jobs/example" data-step="4"
                                data-intro="Check an result example"><i class="fas fa-envelope-open-text"></i> Example
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/contact" data-step="5" data-intro="Contact page"><i
                                    class="fas fa-phone-square-alt"></i> Contact </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/map" data-step="6" data-intro="Users map and statistics data"><i
                                    class="fas fa-globe-americas"></i> Map </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tools" data-step="7" data-intro="Other userful online tools"><i
                                    class="fas fa-toolbox"></i> Other Tools </a>
                        </li> -->
                    </ul>
                </div>

                <button class="btn btn-sm btn-outline-light my-2 my-sm-0" href="javascript:void(0);"
                    onclick="javascript:introJs().start();">HELP
                </button>
            </div>
        </nav>

        <!-- <div class="container"> -->
        <div class="jumbotron jumbotron-fluid text-center py-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="container col-8">
                        <h1 class="display-4"><span class="border-bottom border-dark p-1">MULocDeep</span></h1>
                        <p class="lead d-none d-sm-block">A protein localization prediction tool at sub-cellular and
                            sub-organellar levels</p>
                        <!-- <p class="d-none d-lg-block"></p> -->
                    </div>
                    <div class="container col-4">
                        <img src="https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1150&q=80"
                            alt="a map" style="width:80%;height:80%;">
                    </div>
                </div>
            </div>
        </div>
        <!-- a container for the white area -->
        <div class="container my-0">

            <!-- left and right -->
            <div class="row justify-content-center">

                <!-- left as col -->
                <div class="container border rounded shadow-lg col-6">

                    <!-- left top as col until enter your email -->
                    <div class="container">
                        <ul class="nav nav-pills mb-2 pt-3  d=" pills-tab" role="tablist">
                            <!-- <li class="nav-item" data-step="8" data-intro="Paste your sequences here to predict.">
                    <a class="nav-link active" id="pills-Sequence-tab" data-toggle="pill" href="#pills-Sequence"
                        role="tab" aria-controls="pills-Sequence" aria-selected="true">Sequence</a>
                </li> -->
                            <li class=" px-0" data-step="9" data-intro="Upload your sequences file to predict">
                                <a class="nav-link" id="pills-File-tab" data-toggle="pill" href="#pills-File" role="tab"
                                    aria-controls="pills-File" aria-selected="false">Upload a File</a>
                            </li>
                        </ul>

                        <div class="tab-content pb-3" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-Sequence" role="tabpanel"
                                aria-labelledby="pills-Sequence-tab">
                                <form class="prediction" action="/upload/sequence" method="POST"
                                    onsubmit="return checkSeqValid()">
                                    <div class="form-row">
                                        <div class="container form-group col-11">
                                            <label for="sequenceInput">Job 1</label>
                                            <textarea class="form-control mt-2" id="sequenceInput" name="sequenceInput"
                                                rows="6" aria-describedby="sequenceHelp" placeholder="Enter sequences"
                                                required></textarea>
                                            <!-- <small id="sequenceHelp" class="form-text text-muted">The sequence(s) must in FASTA
                                    format
                                    (maximum 200 sequences).
                                </small> -->
                                        </div>
                                    </div>
                                    <!-- <div class="form-row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="nickName1">Job Nickname</label>
                                <input class="form-control" id="nickName1" name="nickName1"
                                    aria-describedby="nickNameHelp1">
                                <small id="nickNameHelp1" class="form-text text-muted">Optional</small>
                            </div>
                        </div> -->
                                    <!-- <div class="form-row justify-content-end"> -->
                                    <div class="form-group col-12 mt-5">
                                        <div class="form-check row justify-content-end">
                                            <label for="emailInput1" class="col-8 offset-md-3"> Notify me through
                                                email
                                                when
                                                down</label>
                                            <input class="form-check-input col-1" type="checkbox" value="notify"
                                                id="emailInput1">
                                        </div>
                                        <input type="email" class="form-control col-8 offset-md-4" id="emailInput1"
                                            name="emailInput1" aria-describedby="emailHelp1"
                                            placeholder="Enter your email">
                                        <!-- <small id="emailHelp1" class="form-text text-muted">Optional. We will notify you
                                        through
                                        email when the job is done. (We'll never share your email with anyone
                                        else.)</small> -->
                                    </div>
                                    <!-- </div> -->
                            </div>


                        </div>
                        <!-- the end of enter your email -->
                    </div>


                    <!-- <div class="col align-self-end"> -->
                    <div class="row justify-content-between mt-5">
                        <div class="col-4 offset-md-1">
                            <button type="reset" class="btn btn-outline-dark">Reset</button>
                            <input type="button" id="sample" class="btn btn-outline-dark" value="Sample" />
                        </div>
                        <div class="col-4 offset-md-3">
                            <button type="submit" class="btn btn-primary submitBtn align-self-end">Go
                                analyze</button>
                        </div>
                    </div>
                    <!-- </div> -->

                    </form>



                    <!-- <div class="tab-pane fade" id="pills-File" role="tabpanel" aria-labelledby="pills-File-tab">
                        <form class="prediction" action="/upload/file" method="POST" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-12 col-lg-6">
                                    <p>Upload file</p>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="fileSelect" name="fileSelect"
                                            aria-describedby="fileHelp" onchange="checkFileValid()" required>
                                        <label id="fileLabel" class="custom-file-label text-truncate"
                                            for="fileSelect">Choose
                                            file</label>
                                        <small id="fileHelp" class="form-text text-muted">The file uploaded should
                                            contains
                                            only
                                            protein sequence(s) in FASTA format (maximum 200 sequences).</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-12 col-lg-6">
                                    <label for="nickName2">Job NickName</label>
                                    <input class="form-control" id="nickName2" name="nickName2"
                                        aria-describedby="nickNameHelp2">
                                    <small id="nickNameHelp2" class="form-text text-muted">Optional</small>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-lg-6">
                                    <label for="emailInput2">Email address</label>
                                    <input type="email" class="form-control" id="emailInput2" name="emailInput2"
                                        aria-describedby="emailHelp2" placeholder="Enter email">
                                    <small id="emailHelp2" class="form-text text-muted">Optional. We will notify you
                                        through
                                        email when the job is done. (We'll never share your email with anyone
                                        else.)</small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                            <button id="reset" type="reset" class="btn btn-secondary">Reset</button>
                        </form>
                    </div> -->
                </div>


                <div class="col-5 offset-md-1">
                    <div class="container col  mb-2">
                        <h5 class="mb-0 font-weight-bold bg-light">What's new</h5>
                        <hr class="mt-0">
                        <!-- <p id="d1"> -->
                        <div style="height:100px;width:410px;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                            <div>
                                <a href="">New function 1</a>
                                <p>new button outlook</p>
                            </div>
                            <div>
                                <a href="">New function 2</a>
                                <p>faster analysis</p>
                            </div>
                            <div>
                                <a href="">New function 3</a>
                                <p>Now you can upload word format</p>
                            </div>
                        </div>

                        <!-- </p> -->
                    </div>
                    <div class="container col mb-4">
                        <h5 class="mb-0 font-weight-bold bg-light">Citation</h5>
                        <hr class="mt-0">
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                    </div>
                    <div class="container col mb-4">
                        <h5 class="mb-0 font-weight-bold bg-light">Other tools</h5>
                        <hr class="mt-0">
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                    </div>
                    <div class="container col mb-4">
                        <h5 class="mb-0 font-weight-bold bg-light">Contact us</h5>
                        <hr class="mt-0">
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                    </div>

                </div>
            </div>

            <!-- <div class="container pt-3">
            <h6 class=""> Citation:</h6>
            <p>
                MULocDeep: An Interpretable Deep Learning Model for Protein Localization Prediction at the Sub-organelle
                Resolution (in submission)
            </p>
            </div> -->

            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">Invalid query!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="errorModalBody">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
        <!-- Inserting Map page into home page as a Div -->
        
        <div id="map-cont">
            <div id="map" data-step="1" data-intro="Our users around the world!"></div>

            <div class="container border shadow-lg col-0 col-lg-4" id="welcomeCard" data-step="2" data-intro="The statistic data of our website.">
              <div class="row">
                <div class="col-lg-12">
                  <div class="content text-center">
                    <h1 class="display-4">MULocDeep</h1>
                    <p>
                      A protein localization prediction tool at sub-cellular and sub-organellar levels
                    </p>
                    <hr>
                    <h6 id="userNumHead" style="display: none;"> The number of total users</h6>
                    <div id="userNumber" style="display: none;"></div>
                    <h6 id="queryNumHead" style="display: none;"> The number of total queries</h6>
                    <div id="queryNumber" style="display: none;"></div>
                    <h6 id="proteinsNumHead" style="display: none;"> The number of total proteins</h6>
                    <div id="proteinsNumber" style="display: none;"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <script type="text/javascript" src="/js/index.js"></script>

     <script type="text/javascript" src="/js/upload.js"></script>
    

    <% include partials/footer %>