#map {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    right: 0;
    top:50%;
  }

  #map svg {
    height: min-content !important;
  }

#welcomeCard {
    position: absolute;
    z-index: 999;
    top: 62%;
    left: 0;
    right: 0;
    /* bottom: 0;
    margin: auto; */
    /* height: fit-content; */
}

#map-cont{
  height: 710px;
}