#map {
    position: absolute;
    height: 92%;
    width: 100%;
    left: 0;
    right: 0;
    /* top:50%; */
    z-index: 999;
    margin-top: -115px;
    background-color: white !important;
  }

  #map svg {
    /* height: min-content !important; */
  }

#welcomeCard {
    position: absolute;
    z-index: 999;
    top: 20%;
    left: 0;
    right: 0;
    /* bottom: 0;
    margin: auto; */
    height: fit-content;
}

#map-cont{
  height: 245px;
  margin: 120px 30px 30px 30px;
  width: max-content;
}

.map-welcome{
  font-size: 6px;
  max-width: 50% !important;
}

.mt-number-animate{
  line-height: 15px;
  height: 18px;
}

.mt-number-animate-dom{
  font-size: x-small;
}


@media screen and (max-width:1230px){
 .jumbotron.jumbotron-fluid.text-center.py-0 .container .row.align-items-center{
    display: flex;
    flex-direction: column;
  }
  .container.my-0 .row.justify-content-center{
    display: flex;
    flex-direction: column;
  }

  .container.my-0 .row.justify-content-center .container.col-5.offset-md-1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
  #map-cont{
    height: 50px;
    margin: 120px 30px 30px 30px;
    width: max-content;
  }
}
