/* show sequence window style */
.popover {
    max-width: 50%;
    /* background-color: #6c757d; */
}

.popover-body {
    color: black;
}

/* Return to Top Style */
.box {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 20px;
    background-color: blue;
    border-radius: 20%;
    overflow: hidden;
}

.box:hover:before {
    top: 50%
}

.box:hover .box-in {
    visibility: hidden;
}

.box:before {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'Top';
    width: 40px;
    color: white;
    font-weight: bold;

}

.box-in {
    visibility: visible;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 3px solid black;
    border-color: white transparent transparent white;
    transform: rotate(45deg);
}

/* sideBar style */
.sidebarBtn {
    display: none;
    position: fixed;
    left: 0;
    bottom: 50%;
    height: 50px;
    width: 30px;
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
    background-color: blue;
    border-radius: 20%;
    overflow: hidden;
}

.barBtn-in {
    visibility: visible;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 3px solid white;
    border-color: white transparent transparent white;
    transform: rotate(135deg);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b8daff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.chart_container {
    height: 370px;
    width: 100%;
}

.container_cellImage{
    padding:1.5vh;
    margin-bottom: 1.5vh;
}

.cell_image{
    width:70%;
    margin: 0 auto;
}

.number_Nucleus{
    width: 10%;
    position: absolute;
    top:41%;
    left:20%;
    color:#7030a0;
}
.number_Nucleus:hover{
    background-color:rgba(128, 128, 128, 0.3);
}
.number_Mitochondria{
    width: 13%;
    position: absolute;
    top: 2.5%;
    left: 33.5%;
    color: #f9c002;
}
.number_Mitochondria:hover{
    background-color:rgba(128, 128, 128, 0.3);
}
.number_Cell_membrane{
    width: 15%;
    position: absolute;
    top: 14%;
    left: 24%;
    color: #2f518f;
}
.number_Cell_membrane:hover{
    background-color:rgba(128, 128, 128, 0.3);
}
.number_Endoplasmic_reticulum{
    width: 21%;
    position: absolute;
    top: 25%;
    left: 17%;
    color: #4974c0;
}
.number_Endoplasmic_reticulum:hover{
    background-color:rgba(128, 128, 128, 0.3);
}
.number_Golgi_apparatus{
    width: 15%;
    position: absolute;
    top: 81%;
    left: 21.5%;
    color: #ed7d32;
}
.number_Golgi_apparatus:hover{
    background-color:rgba(128, 128, 128, 0.3);
}
.number_Chloroplast{
    padding-left: 10%;
    width: 12%;
    position: absolute;
    top: 6.5%;
    left: 72%;
    color: #70ad47;
}
.number_Chloroplast:hover{
    background-color:rgba(128, 128, 128, 0.3);
}

.number_Secreted{
    padding-left: 9%;
    width: 12%;
    position: absolute;
    top: 40%;
    left: 70%;
    color: #1a1a1a;
}
.number_Secreted:hover{
    background-color:rgba(128, 128, 128, 0.3);
}

.number_Cytoplasm{
    padding-left: 10%;
    width: 12%;
    position: absolute;
    top: 80%;
    left: 68%;
    color: #fce49d;
}
.number_Cytoplasm:hover{
    background-color:rgba(128, 128, 128, 0.3);
}

.number_Lysosome{
    padding-left: 10%;
    width: 12%;
    position: absolute;
    top: 63.5%;
    left: 71.5%;
    color: #c05810;
}
.number_Lysosome:hover{
    background-color:rgba(128, 128, 128, 0.3);
}

.number_Peroxisome{
    padding-left: 11%;
    width: 13%;
    position: absolute;
    top: 89%;
    left: 57%;
    color: #70ad47;
}
.number_Peroxisome:hover{
    background-color:rgba(128, 128, 128, 0.3);
}

.number_cell{
    font-size: 18px;
}