<!-- ----------------------------------------------------------------------- -->
<!--                           REPORT Page Template                          -->
<!--                            Author: Ziyang Zhang                         -->
<!--                        Last Updated date: 04/06/2023                    -->
<!-- ----------------------------------------------------------------------- -->

<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/css/report.css">

<div class="wrapper">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container col-12 col-lg-8">
            <a class="navbar-brand" href="/">MULocDeep</a>
            <button class="navbar-toggler ml-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs"><i class="fas fa-search"></i> Search </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/all"><i class="fas fa-list"></i> Status </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/example"><i class="fas fa-envelope-open-text"></i> Example </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/contact"><i class="fas fa-phone-square-alt"></i> Contact </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/map"><i class="fas fa-globe-americas"></i> Map </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/tools"><i class="fas fa-toolbox"></i> Other Tools </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-sm btn-outline-light my-2 my-sm-0" href="javascript:void(0);"
                onclick="javascript:startIntro();">HELP</button>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4"><span class="border-bottom border-dark p-1">MULocDeep</span></h1>
            <p class="lead d-none d-sm-block">A protein localization prediction tool at sub-cellular and sub-organellar levels</p>
        </div>
    </div>

    <div class="container col-12 col-lg-8">
  <div class="container border rounded shadow-lg">
    <div id="form-div">
        <h3 id="title">Report an issue</h3>
        <form id="form_report" class="" action="" method="POST">
                <div class="form-group">
                    <label for="description">Issue Description<span class='required'> *Required</span></label>
                    <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
                </div>
                <div class="form-group" data-step="11" data-intro="Provide job ID">
                    <label for="jobID">Job ID</label>
                    <input class="form-control" type="text" id="jobID" name="jobID">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary submitBtn" id="btnSubmitReport">Submit</button>
            </div>
        </form>
    </div>
    
    <div id='result-div' style='display: none'>
        <div style="padding: 100px 10px; text-align: center;">
          <h3 class="display-6"><img src="/images/checked.png" style="height: 60px; padding-bottom: 12px;margin-right:10px"/><span>Thank you for your feedback.</span></h3>
          <p class="lead d-none d-sm-block">The report has been submitted successfully and we will look into it as soon as possible.</p>
          <p class="d-none d-lg-block"></p>
        </div>
    </div>
    
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Invalid field!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorModalBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
  </div>
    </div>


    <script type="text/javascript" src="/js/report.js"></script>



    <% include partials/footer%>