<!-- ----------------------------------------------------------------------- -->
<!--                          TOOLS Page Template                            -->
<!--                            Author: Yifu Yao                             -->
<!--                        Last Updated date: 6/14/2020                     -->
<!-- ----------------------------------------------------------------------- -->

<% include partials/header %>

<div class="wrapper">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container col-12 col-lg-8">

            <a class="navbar-brand" href="/">MULocDeep</a>
            <button class="navbar-toggler ml-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs"><i class="fas fa-search"></i> Search </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/all"><i class="fas fa-list"></i> Status </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/example"><i class="fas fa-envelope-open-text"></i> Example </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/contact"><i class="fas fa-phone-square-alt"></i> Contact </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/map"><i class="fas fa-globe-americas"></i> Map </a>
                    </li> -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/tools"><i class="fas fa-toolbox"></i> Other Tools </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <div class="container"> -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4"><span class="border-bottom border-dark p-1">MULocDeep</span></h1>
            <p class="lead d-none d-sm-block">A protein localization prediction tool at sub-cellular and sub-organellar levels</p>
        </div>
    </div>
    <!-- </div> -->



	<!-- Old Content -->
    <!-- <div class="card border rounded shadow-lg mt-4 pt-5 pb-5 mx-auto col-12 col-lg-8 col-xl-6"> -->
        <!-- <ui> -->
            <!-- <li> -->
                <!-- <a href="http://136.32.161.178/" target="_blank">  -->
                    <!-- MU-LOC: A Machine-Learning Method for Predicting Mitochondrially Localized Proteins in Plants -->
                <!-- </a> -->
            <!-- </li> -->
            <!-- <li> -->
                <!-- <a href="https://1drv.ms/u/s!AkYzg0pKjosVgtBq33iOP83psca57w?e=z8TshP/" target="_blank" download="Standalone Docker">  -->
                    <!-- Link to download Standalone Docker -->
                <!-- </a> -->
            <!-- </li> -->
            <!-- <li> -->
                <!-- <a href="https://1drv.ms/u/s!AkYzg0pKjosVgtBph72mgGXwoaS2VA?e=4DqegP/" target="_blank">  -->
                    <!-- Link to download Standalone Conda -->
                <!-- </a> -->
            <!-- </li> -->
        <!-- </ui> -->
    <!-- </div> -->
	
	
	<!-- New Content -->	
    <div class="card shadow-lg mx-auto mb-5 col-8 px-0">
		<h4 class="card-header font-weight-bold">
			Papers
		</h4>
		<div class="card-body px-5 pb-5">
			<ui>
				<li>
					<a class="card-text" href="http://136.32.161.178/" target="_blank"> 
						MU-LOC: A Machine-Learning Method for Predicting Mitochondrially Localized Proteins in Plants
					</a>
				</li>
			</ui>
		</div>
	</div>
	
	<div class="card shadow-lg mx-auto mb-5 col-8 px-0">
		<h4 class="card-header font-weight-bold">Resources</h4>
		<div class="card-body px-5 pb-5">
			<h5 class="card-title font-weight-bold">Standalone Docker</h5>
			<p class="card-text">Download Standalone Docker.</p>
			<a href="https://1drv.ms/u/s!AkYzg0pKjosVgtBq33iOP83psca57w?e=z8TshP/" target="_blank" class="btn btn-primary">Download</a>
		</div>
		<div class="card-body px-5 pb-5">
			<h5 class="card-title font-weight-bold">Standalone Conda</h5>
			<p class="card-text">Download Standalone Conda.</p>
			<a href="https://1drv.ms/u/s!AkYzg0pKjosVgtBph72mgGXwoaS2VA?e=4DqegP/" target="_blank" class="btn btn-primary">Download</a>
		</div>
	</div>


<% include partials/footer%>