<!-- ----------------------------------------------------------------------- -->
<!--                          UPLOAD Page Template                           -->
<!--                            Author: Yifu Yao                             -->
<!--                        Last Updated date: 6/14/2020                     -->
<!-- ----------------------------------------------------------------------- -->

<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/css/index.css">
    <div class="wrapper">

        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container col-12 col-lg-8">

                <a class="navbar-brand" href="/" data-step="1" data-intro="This is the main page where users submit their jobs and find the 
                general informations of MULocDeep">MULocDeep</a>
                <button class="navbar-toggler ml-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/jobs" data-step="2" data-intro="Search the submitted jobs by JobID, nickname, or protein sequence"><i class="fas fa-search"></i> Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jobs/all" data-step="3" data-intro="Check the status of all jobs you submitted"><i class="fas fa-list"></i> Status </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jobs/example" data-step="4" data-intro="Check an result example"><i class="fas fa-envelope-open-text"></i> Example </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/contact" data-step="5" data-intro="Contact page"><i class="fas fa-phone-square-alt"></i> Contact </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/map" data-step="6" data-intro="Users map and statistics data"><i
                                    class="fas fa-globe-americas"></i> Map </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/tools" data-step="5" data-intro="Links to other online tools and downloadable packages"><i class="fas fa-toolbox"></i> Other Tools </a>
                        </li>
                    </ul>
                </div>

                <button class="btn btn-sm btn-outline-light my-2 my-sm-0" href="javascript:void(0);"
                    onclick="javascript:introJs().start();">HELP
                </button>
            </div>
        </nav>

        <!-- <div class="container"> -->
        <div class="jumbotron jumbotron-fluid text-center py-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="container col-8">
                        <h1 class="display-4"><span class="border-bottom border-dark p-1">MUL<img src="/images/Picture23.png" style="height: 60px; padding-bottom: 12px;" />cDeep</span></h1>
                        <p class="lead d-none d-sm-block">A protein localization prediction tool at sub-cellular and
                            sub-organellar levels</p>
                        <!-- <p class="d-none d-lg-block"></p> -->
                    </div>
                    <div class="container col-4" style="height: fit-content;">
                        <!-- <img src="https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1150&q=80"
                                            alt="a map" style="width:80%;height:80%;"> -->
                        <!-- Inserting Map page into home page as a Div -->
                        <div id="map-cont">
                            <div id="map0" data-step="7" data-intro="Our users around the world!">
                                <!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=4F_B7ZQQv_QhwrIZMRG9R59R8JummliEmeOE3oU2Ito"></script> -->
                                <!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=4F_B7ZQQv_QhwrIZMRG9R59R8JummliEmeOE3oU2Ito&co=73c5ff"></script> -->
                                <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=-w10MsPItOkrtOdxtNB4gHWaETvglJEv8QX7vqXzRH4&co=b1dfff'></script>
                            </div>
                            <!-- <div id="map" data-step="1" data-intro="Our users around the world!"
                                style="background-color: white !important;"></div> -->
                
                            <!-- <div class="container border shadow-lg col-0 col-lg-4 map-welcome" id="welcomeCard" data-step="2"
                                data-intro="The statistic data of our website.">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="content text-center">
                                            <h6 class="">MULocDeep</h6>
                                            <p style="margin: 0px;">
                                                A protein localization prediction tool at sub-cellular and sub-organellar levels
                                            </p>
                                            <hr style="margin: 0px;">
                                            <h6 id="userNumHead" style="display: none; margin: 0px; font-size: xx-small;"> The number of
                                                total users</h6>
                                            <div id="userNumber" style="display: none; height: 12px;"></div>
                                            <h6 id="queryNumHead" style="display: none; margin: 0px; font-size: xx-small;"> The number
                                                of total queries</h6>
                                            <div id="queryNumber" style="display: none; height: 12px;"></div>
                                            <h6 id="proteinsNumHead" style="display: none; margin: 0px; font-size: xx-small;"> The
                                                number of total proteins</h6>
                                            <div id="proteinsNumber" style="display: none; height: 12px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="container border shadow-lg col-0 col-lg-4" id="welcomeCard" data-step="6" data-intro="The statistic data of our website.">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="content text-center">
                            
                                      <h6 id="userNumHead" style="display: none;font-size: 70%;" class="mb-0"> The number of total users</h6>
                                      <div id="userNumber" style="display: none;"></div>
                                      <h6 id="queryNumHead" style="display: none;font-size: 70%;" class="mb-0"> The number of total queries</h6>
                                      <div id="queryNumber" style="display: none;"></div>
                                      <h6 id="proteinsNumHead" style="display: none;font-size: 70%;" class="mb-0"> The number of total proteins</h6>
                                      <div id="proteinsNumber" style="display: none;"></div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="container col-1">
                            <h6 id="userNumHead" style="display: none;"> The number of total users</h6>
                            <div id="userNumber" style="display: none;"></div>
                            <h6 id="queryNumHead" style="display: none;"> The number of total queries</h6>
                            <div id="queryNumber" style="display: none;"></div>
                            <h6 id="proteinsNumHead" style="display: none;"> The number of total proteins</h6>
                            <div id="proteinsNumber" style="display: none;"></div>
                        
                    </div> -->
                </div>
                </div>
        </div>
        <!-- a container for the white area -->
        <div class="container my-0">

            <!-- left and right -->
            <div class="row justify-content-center">

                <!-- left as col -->
                <div class="container border rounded shadow-lg col-6">
                    <ul class="nav nav-pills mb-3 pt-3" id="pills-tab" role="tablist" data-step="8" data-intro="Paste protein sequences below or upload a file of protein sequences to predict">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-Sequence-tab" data-toggle="pill" href="#pills-Sequence"
                                role="tab" aria-controls="pills-Sequence" aria-selected="true">Sequence</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-File-tab" data-toggle="pill" href="#pills-File" role="tab"
                                aria-controls="pills-File" aria-selected="false">File</a>
                        </li>
                    </ul>
                    <div class="tab-content pb-3" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-Sequence" role="tabpanel"
                            aria-labelledby="pills-Sequence-tab">
                            <form id="form_sequences" class="prediction" action="/tasks/predict_sequences" method="POST"
                                onsubmit="return checkSeqValid()">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="sequenceInput">Sequence</label>
                                        <textarea class="form-control" id="sequences" name="sequences" rows="6"
                                            aria-describedby="sequenceHelp" required></textarea>
                                        <small id="sequenceHelp" class="form-text text-muted">The sequence(s) must in
                                            FASTA format
                                            (maximum 200 sequences).
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-lg-6" data-step="9" data-intro="Select prediction mode: High-throughput 
                                    mode is fast while the High-quality mode has better prediction performance">
                                        <label for="mode">Mode</label><br>
                                        <div id="mode_div">
                                            <input type="radio" id="high_throughput" name="mode_type" value="fast">
                                              <label for="high_throughput">High-throughput(Fast)</label><br>
                                            <input type="radio" id="high_quality" name="mode_type" value="PSSM" checked>
                                              <label for="high_quality">High-quality(Slow)</label><br>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-lg-6" data-step="10" data-intro="Select species-specific model if the input protein sequences 
                                    are from the same species, other wise choose 'Unknow' to use the general model">
                                        <label for="species">Species</label><br>
                                        <div id="mode_div">
                                            <input type="radio" id="plant" name="species_type" value="viridiplantae">
                                              <label for="plant">Viridiplantae</label><br>
                                            <input type="radio" id="animal" name="species_type" value="metazoa">
                                              <label for="plant">Metazoa</label><br>
                                            <input type="radio" id="fungi" name="species_type" value="fungi">
                                              <label for="plant">Fungi</label><br>
                                            <input type="radio" id="unknown" name="species_type" value="unknown" checked>
                                              <label for="plant">Unknown</label><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-lg-6" data-step="11" data-intro="Provide a name for your job. The name could be used to search the job in your workspace">
                                        <label for="nickName">Job Nickname</label>
                                        <input class="form-control" id="nickName" name="nickName"
                                            aria-describedby="nickNameHelp1">
                                        <small id="nickNameHelp1" class="form-text text-muted">Optional</small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-lg-6">
                                        <label for="email"> Email address</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            aria-describedby="emailHelp1" placeholder="Enter email">
                                        <small id="emailHelp1" class="form-text text-muted">Optional. We will notify you
                                            through email when the job is done. (We'll never share your email with
                                            anyone else.)</small>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary submitBtn" id="btnSubmitSequences">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                                <input type="button" id="sample" class="btn btn-secondary" value="Load Example Sequences" />
                            </form>
                        </div>

                        <div class="tab-pane fade" id="pills-File" role="tabpanel" aria-labelledby="pills-File-tab">
                            <form id="form_file" class="prediction" action="/tasks/predict_file" method="POST" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-12 col-lg-6">
                                        <p>Upload file</p>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="sequences_file"
                                                name="sequences_file" aria-describedby="fileHelp"
                                                onchange="checkFileValid()" required>
                                            <label id="fileLabel" class="custom-file-label text-truncate"
                                                for="sequences_file">Choose
                                                file</label>
                                            <small id="fileHelp" class="form-text text-muted">The file uploaded should
                                                contains only
                                                protein sequence(s) in FASTA format (maximum 200 sequences).</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-12 col-lg-6">
                                        <label for="mode">Mode</label><br>
                                        <div id="mode_div">
                                            <input type="radio" id="high_throughput" name="mode_type_f" value="fast">
                                              <label for="high_throughput">High-throughput(Fast)</label><br>
                                            <input type="radio" id="high_quality" name="mode_type_f" value="PSSM" checked>
                                              <label for="high_quality">High-quality(Slow)</label><br>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-lg-6">
                                        <label for="species">Species</label><br>
                                        <div id="mode_div">
                                            <input type="radio" id="plant" name="species_type_f" value="viridiplantae">
                                              <label for="plant">Viridiplantae</label><br>
                                            <input type="radio" id="animal" name="species_type_f" value="metazoa">
                                              <label for="plant">Metazoa</label><br>
                                            <input type="radio" id="fungi" name="species_type_f" value="fungi">
                                              <label for="plant">Fungi</label><br>
                                            <input type="radio" id="unknown" name="species_type_f" value="unknown" checked>
                                              <label for="plant">Unknown</label><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-12 col-lg-6">
                                        <label for="nickname_f">Job NickName</label>
                                        <input class="form-control" id="nickname_f" name="nickname_f"
                                            aria-describedby="nickNameHelp2">
                                        <small id="nickNameHelp2" class="form-text text-muted">Optional</small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-lg-6">
                                        <label for="email_f">Email address</label>
                                        <input type="email" class="form-control" id="email_f" name="email_f"
                                            aria-describedby="emailHelp2" placeholder="Enter email">
                                        <small id="emailHelp2" class="form-text text-muted">Optional. We will notify you
                                            through email when the job is done. (We'll never share your email with
                                            anyone else.)</small>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary submitBtn" id="btnSubmitFile">Submit</button>
                                <button id="reset" type="reset" class="btn btn-secondary">Reset</button>
                            </form>
                        </div>
                    </div>

                </div>


                <div class="container col-5 offset-md-1">
                    <div class="container col  mb-2">
                        <h5 class="mb-0 font-weight-bold bg-light">What's new</h5>
                        <hr class="mt-0">
                        <div class="whatsnew">
                        <!-- <iframe src="file2.html"></iframe> -->
                        <!-- <embed type="text/text" src="file2.txt" style="height:100px;width:410px;overflow:auto;"> -->
                        <embed type="text/html" src="file2.html" >
                        </div>
                        <!-- <p id="d1"> -->
                        <!-- <div style="height:100px;width:410px;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                            <div>
                                <a href="">New function 1</a>
                                <p>new button outlook</p>
                            </div>
                            <div>
                                <a href="">New function 2</a>
                                <p>faster analysis</p>
                            </div>
                            <div>
                                <a href="">New function 3</a>
                                <p>Now you can upload word format</p>
                            </div>
                        </div> -->

                        <!-- </p> -->
                    </div>
                    <div class="container col mb-4">
                        <h5 class="mb-0 font-weight-bold bg-light">Citation</h5>
                        <hr class="mt-0">
                        <p class="m-0 small">Jiang Y, Wang D, Yao Y, Eubel H, Künzler P, Møller IM, Xu D.
                            MULocDeep: A
                            deep-learning framework for protein subcellular and suborganellar localization prediction
                            with residue-level interpretation. Comput Struct Biotechnol J. 2021 Aug 18;19:4825-4839.
                            doi: 10.1016/j.csbj.2021.08.027. PMID: 34522290; PMCID: PMC8426535.</p>
                    </div>
                    <!-- <div class="container col mb-4">
                        <h5 class="mb-0 font-weight-bold bg-light">Other tools</h5>
                        <hr class="mt-0">
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                    </div> -->
                    <div class="container col mb-4">
                        <h5 class="mb-0 font-weight-bold bg-light">Contact us</h5>
                        <hr class="mt-0">
                        <p class="mb-0 small">MULocDeep webservice/stand-alone package are free of charge for academic users; 
                            other users are requested to contact the corresponding author of this work at</p>
                        <p class="m-0 small">Dong Xu</p>
                        <p class="mb-1 small">Email: <span style="color:#007bff;"
                                    id="contact_email">xudong@missouri.edu</span></p>
                        <p class="m-0 small">If you ever have any question or problem using our tool, please contact</p>
                        <p class="m-0 small">Yuexu Jiang</p>
                        <p class="m-0 small">Email: <span style="color:#007bff;"
                                id="contact_email">yjm85@mail.missouri.edu</span></p>
                    </div>

                </div>
            </div>

            <!-- <div class="container pt-3">
            <h6 class=""> Citation:</h6>
            <p>
                MULocDeep: An Interpretable Deep Learning Model for Protein Localization Prediction at the Sub-organelle
                Resolution (in submission)
            </p>
            </div> -->

            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">Invalid query!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="errorModalBody">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="/js/index.js"></script>

     <script type="text/javascript" src="/js/upload.js"></script>    
    

    <% include partials/footer %>